<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp_Tickets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_Tickets.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/icon.png" type="image/icon">
    <style>
        .navbar {
            background-color: #007bff; 
        }

            .navbar a {
                color: black;
                font-weight: bold;
            }

                
    </style>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="banner">
                <banner.content>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TicketAssist</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Gestión de Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Afiliados" asp-action="Index">Afiliados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark"  href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a>
                            </li>

                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </banner.content>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2024 - WebApp_Tickets | <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de privacidad</a>

           
            <a href="tel:+123456789">Contacto: 123-456-789</a>


            <a href="https://www.instagram.com/accounts/login/?next=%2Flmsch93%2F&source=private_profile&locale=es_ES%2F" target="_blank">Instagram</a>


        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .footer .container {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }

        .footer .container a {
            margin: 0 15px; 
            text-decoration: none; 
        }

            .footer .container a:first-child {
                margin-left: 0; 
            }

            .footer .container a:last-child {
                margin-right: 0; 
            }

</style>