@{
    ViewData["Title"] = "Sobre Nosotros";
}



<div class="container mt-5">
    <h2 class="text-center">Sobre Nosotros</h2>

    <div class="row mt-4">
       
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <img src="~/images/grupomedico.jpg" alt="Imagen de la empresa" class="img-fluid rounded shadow">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/images/imagen.jpg" alt="Imagen de la empresa" class="img-fluid rounded shadow">
                </div>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="row">
                
                        <div class="card-body">
                            <p>
                                Somos una prepaga médica líder en el país, comprometidos con la salud y el bienestar de nuestros afiliados. Desde nuestros inicios, nuestra misión ha sido proporcionar acceso a atención médica de alta calidad, con un enfoque personalizado y soluciones innovadoras para cada uno de nuestros miembros.
                            </p>
                        </div>
                    
               
                   
                        <div class="card-body">
                            <p>
                                Contamos con una amplia red de profesionales médicos, clínicas y hospitales, y ofrecemos una variedad de planes de salud que se adaptan a las necesidades de cada familia. Creemos que el acceso a la salud debe ser fácil, rápido y accesible, por eso nos esforzamos por brindar el mejor servicio con tecnología avanzada.
                            </p>
                        </div>
                    
                
            </div>
        </div>
    </div>
</div>




